.main {
  min-height: 100vh;
  background-color: #161B33;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:  #474973;
  /* You can change the background color to your preference */
  color: white;
  /* You can change the text color to your preference */
}

.navImage {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.navImage:hover {
  text-decoration: underline;
}

.navDiv {
  display: flex;
}



.navTitle {
  padding-top: 2px;
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-right: 20px;
}

.navLink {
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  margin-right: 20px;
}

.mainBody {
  padding: 0% 5%;
  margin-top: 5%;
  width: 100%;
}

.bodyLeftBlob {

  border-radius: 40px;
  background-color: #A69CAC;
  text-align: center;
  vertical-align: middle;
}

.blobText {
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;

}

.bodyRightBlob {
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  background-color: #A69CAC;
}

.uploadBtn {

  color: white;
  background-color: #474973;
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  border: none;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  margin-top: 3%;
}

.previewImage {
  margin: 5%;
  object-fit: contain;
  /* or use 'contain' if you want the whole image to be visible */
}

.fileInputLabel {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  /* Choose a color that matches your design */
  border-radius: 5px;
  margin-right: 5%;
  color: white;
  background-color: #474973;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}

.fileInput {
  display: none;
  /* Hide the default file input */
}

.outputText{
  font-family: monospace;
  font-size: large;
  padding: 2%;
}
.tableContainer {
  max-width: 100%;
  overflow-x: auto;
  
}

.table {
  width: 100%;
  margin-top: 20px; /* Adjust as needed */
  font-size: x-large;
  border-radius: 5px;
  
}

.th, .td {
  border-bottom: 1px solid  #0D0C1D;
  padding: 6px;
  text-align: center;
  background-color: #A69CAC !important;
}

.th {
  background-color: #474973 !important;
  color:#FFFFFF !important;
  font-weight: 300;
}

.downloadButton {
  width: 30px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit; /* Set the background color */
  color: #0D0C1D; /* Set the text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Add more styles as needed */
}

.downloadButton:hover {
  background-color: #474973; /* Set the hover background color */
}